[submodule "MQTT/Broker"]
	path = MQTT/Broker
	url = https://github.com/VolodymyrBiletskyi/MQTT-broker.git
[submodule "DockerDb"]
	path = DockerDb
	url = https://github.com/VolodymyrBiletskyi/docker-db.git
[submodule "Frontend"]
	path = frontend
	url = https://github.com/OleksandrPass/iot-device-metrics.git