[submodule "MQTT/Broker"]
	path = MQTT/Broker
	url = https://github.com/VolodymyrBiletskyi/MQTT-broker.git
[submodule "DB"]
	path = DB
	url = https://github.com/VolodymyrBiletskyi/air-quality-manager.git
[submodule "AirQualityManager/DB"]
	path = AirQualityManager/DB
	url = https://github.com/VolodymyrBiletskyi/air-quality-manager.git
[submodule "DockerDb"]
	path = DockerDb
	url = https://github.com/VolodymyrBiletskyi/docker-db.git
