services:
  db:
    image: postgres:15
    container_name: aqm-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: IoTDb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  mqtt:
    build: ./MQTT/Broker
    container_name: aqm-mqtt
    restart: unless-stopped
    env_file: ./.env
    ports:
      - "1883:1883"
    networks: [aqm]

  api:
    build: .
    container_name: aqm-api
    restart: unless-stopped
    env_file: ./.env
    depends_on: [db, mqtt]
    ports:
      - "3000:3000"
    networks: [aqm]

volumes:
  postgres_data:

networks:
  aqm:
