#Local dockercompose
#
##services:
##  db:
##    image: postgres:15
##    container_name: aqm-db
##    restart: unless-stopped
##    environment:
##      POSTGRES_USER: admin
##      POSTGRES_PASSWORD: admin123
##      POSTGRES_DB: IoTDb
##    volumes:
##      - postgres_data:/var/lib/postgresql/data
##    ports:
##      - "5433:5432"
##    networks: [aqm]
##
##  mqtt:
##    build: ./Broker
##    container_name: aqm-mqtt
##    restart: unless-stopped
##    env_file: ./.env
##    ports:
##      - "1883:1883"
##    networks: [aqm]
##
##  api:
##    build: .
##    container_name: aqm-api
##    restart: unless-stopped
##    env_file: ./.env
##    depends_on: [db, mqtt]
##    expose:
##      - "3000"
##    networks: [aqm]
##
##  nginx:
##    image: nginx:1.27-alpine
##    container_name: aqm-nginx
##    restart: unless-stopped
##    depends_on: [api]
##    ports:
##      - "80:80"
##      - "443:443"
##    volumes:
##      - ./infra/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
##      - ./infra/nginx/certs:/etc/nginx/certs:ro
##    networks: [aqm]
##
##volumes:
##  postgres_data:
##
##networks:
##  aqm:

services:
  api:
    build: .
    image: airqualitymanager-api:latest
    container_name: aqm-api
    restart: unless-stopped
    env_file: ./.env
    expose:
      - "3000"
    networks: [aqm]

  nginx:
    image: nginx:1.27-alpine
    container_name: aqm-nginx
    restart: unless-stopped
    depends_on: [api]
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./infra/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - letsencrypt:/etc/letsencrypt
      - webroot:/var/www/certbot
    networks: [aqm]

  certbot:
    image: certbot/certbot:latest
    container_name: aqm-certbot
    volumes:
      - letsencrypt:/etc/letsencrypt
      - webroot:/var/www/certbot
    entrypoint: sh -c
    command: >
      "trap exit TERM;
       while :; do
         certbot renew --webroot -w /var/www/certbot --quiet;
         sleep 12h;
       done"
    networks: [aqm]

volumes:
  letsencrypt:
  webroot:

networks:
  aqm:
